/*  How to set the cursor cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
    --primary-dark: #F83B5B;
    --primary-medium: #F28EAA; /* not currently used */
    --primary-light: #F4D6DB;
    --white: #ffffff;
    --theme-cta: #FE8100;
    --background-image: url("./images/flamingo-wallpaper-background.jpg");
}

.fall-theme {
    --primary-dark: #FE8100;
    --primary-medium: #FE8100;
    --primary-light: #FFBF73;
    --white: #ffffff;
    --theme-cta: #F83B5B;
    --background-image: url("./images/pumpkin-illustration-pattern.jpg");
}

* {
    box-sizing: border-box;
}

body {
    /* cursor: url("./images/flamingo-icon.png"), auto; */
    /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto; */
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    background-image: var(--background-image);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
}

header {
    background-color: var(--primary-dark);
    margin-top: 2rem;
    width: 100%;
}

h1 {
    color: var(--white);
    text-align: center;
    padding: 0rem 3rem;
}

h2, p {
    color: var(--primary-dark);
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 2px;
}

/* Hero Section Styles */
.kiki-chicken {
    border: 10px solid var(--primary-dark);
    border-radius: 2px;
    margin: 3rem;
    /* could be nice to have a white border around the pink border*/
}

.theme-button {
    background-color: var(--theme-cta);
    color: white;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-family: 'Lobster', cursive;
    width: 200px;
    font-size: 24px;
    cursor: pointer;
}


/* Bio Section Styles */
.bio-section {
    background-color: var(--primary-light);
    padding: 2rem 0rem;
}

.kiki-avatar {
    border-radius: 100%;
    border: 1px solid var(--primary-dark);
    border-top-width: 20px;
    border-left-width: 20px;
    margin: .5rem 0rem;
}

.text-box {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
    border-radius: 2px;
    border: 1px solid var(--primary-dark);
    border-right-width: 8px;
    border-bottom-width: 8px;
}

/* Card Section Styles */
/* Fix cards so they're the same size & consistent across widths */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-light);
    margin: 2rem;
    padding: 1rem 1rem 0rem;
    max-width: 282px;
    border-radius: 2px;
}

.card p {
    max-width: 275px;
    text-align: center;
}

.rotate-right {
    transform: rotate(5deg);
}

.rotate-left {
    transform: rotate(-3deg);
}

/* Footer */

footer {
    height: 50px;
    background-color: var(--primary-dark); 
}


@media only screen and (min-width: 768px) {
    .section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bio-section {
        flex-direction: column;
    }
}